* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(23, 15, 35);
  overflow-x: hidden;
}
.App{
  position: relative;
  max-width: 100%;
}

.div__menu {
  z-index: 1;
  position: relative;
}

.container {
  display: flex;
 
}

.div__mainPage {
  width: 100%;
  max-width: 85%;
  margin-left: 242px;
  position: relative;
}
@media (max-width: 1024px) {
  .div__mainPage{
      margin-left: 72px;
  }

}

.div__song {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  background-color: rgb(18, 12, 28);
  height: 90px;
  transition: 1s;
}
